
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700|Lora|Oswald:700|Roboto:500');

body {

min-height: 2200px;

}


/*font-family: 'Oswald', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;*/


/*.nav_index_style {

  z-index: 9000000000;

}*/


.cbp-af-header {
  background-color: rgba(0, 0, 0, 0.8)
}

.header-nav-style {
  color: #ffffff !important;
}

.link-nav-style {
  color: #00d9a3 !important;
}
.navbar-toggle {

  border: 0px;
}

.flat_style {

  border-radius: 0px;
}

.flat_button{

  border-radius: 0px;
}

.king_banner {

  margin-top: 14rem;
  height: 45rem;
  background-image: url(../img/future_chess_player.jpg);
  background-size: cover;
  color: white;
}

.jumbotron {

  background-color: transparent;
}

.header-nav-style {

  font-size: 1.5rem;
}

.history_banner {

  font-family: 'Oswald', sans-serif;

}
